<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="CA" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{dd-MMM-yyyy HH:mm:ss:SSS zzz}, TYPE= %-5p, SESSIONID=%X{sessionID}, CLIENT_IP=%X{UserIPAddress}, REQID=%X{requestID}, SSOUID=%X{ssoUserId}, BIQUID=%X{biqUserID},  APP=%X{APP}, REQUESTURI=%X{requestURI}, CLASS=%c{1}, METHOD=%M, MSG=%m%n" />
		</layout>
	</appender>

	<appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="50MB" />
		<param name="maxBackupIndex" value="100" />

		<param name="File" value="logs/bizone/bizone.log" />
		<!--<param name="Threshold" value="INFO" />-->

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{dd-MMM-yyyy HH:mm:ss:SSS zzz}, TYPE= %-5p, SESSIONID=%X{sessionID}, CLIENT_IP=%X{UserIPAddress}, REQID=%X{requestID}, SSOUID=%X{ssoUserId}, BIQUID=%X{biqUserID},  APP=%X{APP}, REQUESTURI=%X{requestURI}, CLASS=%c{1}, METHOD=%M, MSG=%m%n" />
		</layout>
	</appender>

	<appender name="DebugTraceFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="50MB" />
		<param name="maxBackupIndex" value="100" />

		<param name="File" value="logs/jhpweb-error.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{dd-MMM-yyyy HH:mm:ss:SSS zzz}, TYPE= %-5p, SESSIONID=%X{sessionID}, CLIENT_IP=%X{UserIPAddress}, REQID=%X{requestID}, SSOUID=%X{ssoUserId}, BIQUID=%X{biqUserID},  APP=%X{APP}, REQUESTURI=%X{requestURI}, CLASS=%c{1}, METHOD=%M, MSG=%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="trace" />
			<param name="LevelMax" value="debug" />
		</filter>
	</appender>


	<appender name="StackTraceFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="50MB" />
		<param name="maxBackupIndex" value="100" />

		<param name="File" value="logs/jhpweb-error.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{dd-MMM-yyyy HH:mm:ss:SSS zzz}, TYPE= %-5p, SESSIONID=%X{sessionID}, CLIENT_IP=%X{UserIPAddress}, REQID=%X{requestID}, SSOUID=%X{ssoUserId}, BIQUID=%X{biqUserID},  APP=%X{APP}, REQUESTURI=%X{requestURI}, CLASS=%c{1}, METHOD=%M, MSG=%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="error" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender>

	<category name="com.opensymphony.xwork2.ObjectFactory">
	   <priority value="fatal"/>
	</category>
	<category name="com.opensymphony.xwork2.util.LocalizedTextUtil">
	   <priority value="error"/>
	</category>

	<root>
		<level value="info" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="StackTraceFileAppender" />
	</root>

</log4j:configuration>